<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Dinosaur</title>
    <link rel="icon" type="image/x-icon" href="assets/img/dino-logo/Dinosaur Crest B Square.svg" />

    <!-- Styles -->
    <link rel="stylesheet" href="css/style1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <!-- Fonts -->
    
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <meta name="robots" content="noindex,follow" />
  </head>

  <body>
    <!-- Navigation -->
    <div class="navigation">
      <div class="navigation-left">
        <a href="/">Home</a>
        <a href="fashion">Fashion Charity</a>
        <a href="shop">Shop Now</a>
        <a href="about">About Us</a>


      </div>
      <div class="navigation-text">Dinosaur Collections
        <!-- <img src="images/Di.png" alt=""> -->
      </div>
      <div class="navigation-right">
        <a href="#"><img src="assets/images/shopping-bag.png" alt=""></a>
        <button class="login-btn" href="#">Login</button>
      </div>
    </div>

    <!-- Slider Wrapper -->
    <div class="css-slider-wrapper">
      <input type="radio" name="slider" class="slide-radio1" checked id="slider_1">
      <input type="radio" name="slider" class="slide-radio2" id="slider_2">
      <input type="radio" name="slider" class="slide-radio3" id="slider_3">
      <input type="radio" name="slider" class="slide-radio4" id="slider_4">
      <input type="radio" name="slider" class="slide-radio5" id="slider_5">


      <!-- Slider Pagination -->
      <div class="slider-pagination">
        <label for="slider_1" class="page1"></label>
        <label for="slider_2" class="page2"></label>
        <label for="slider_3" class="page3"></label>
        <label for="slider_4" class="page4"></label>
        <label for="slider_5" class="page5"></label>

      </div>

      <!-- Slider #1 -->
      <div class="slider slide-1">
        <img src="assets/images/model3.jpg" alt="">
        <div class="slider-content">
          <h4>Professional Attire</h4>
          <h2>Get your Professional attire made unique</h2>
          <button type="button" class="tell" name="button"></button>
        </div>
       <div class="number-pagination">
         <a href="www.google.com"> <i class="fa fa-facebook" aria-hidden="true"></i></a>
          <i class="fa fa-instagram"aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </div>
      </div>

      <!-- Slider #2 -->
      <div class="slider slide-2">
        <img src="assets/images/model6.jpg" alt="">
        <div class="slider-content">
          <h4>Ankara Style</h4>
          <h2>Get your Kitenge favorite Design Made</h2>
          <button style="background:rgb(35, 32, 79)" type="button" class="check" name="button"></button>
        </div>
        <div class="number-pagination">
          <i class="fa fa-facebook" aria-hidden="true"></i>
          <i class="fa fa-instagram"aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </div>
      </div>

      <!-- Slider #3 -->
      <div class="slider slide-3">
        <img src="assets/images/model1.jpg" alt="">

        <div class="slider-content">
          <h4>Rentals</h4>
          <h2>Dress best on your day</h2>
          <button type="button" class="check" name="button"></button>
        </div>
        <div class="number-pagination">
          <i class="fa fa-facebook" aria-hidden="true"></i>
          <i class="fa fa-instagram"aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </div>
      </div>

      <!-- Slider #4 -->
      <div class="slider slide-4">
        <img src="assets/images/model9.jpg" alt="">
        <div class="slider-content">
          <h4> READY FOR THE WORLD</h4>
          <h2>Look Good,<br> Feel Great</h2>
          <button style="background:#ff464c;color: rgb(35, 32, 79);"   type="button" class="check" name="button"></button>
        </div>
        <div class="number-pagination">
          <i class="fa fa-facebook" aria-hidden="true"></i>
          <i class="fa fa-instagram"aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </div>
      </div>

      <div class="slider slide-5">
        <img src="assets/images/modelall.jpg" alt="">
        <div class="slider-content">
          <h4>Fashion For All</h4>
          <h2>Get your whole family styled Up</h2>
          <button style="background:#e6fbfe;color: rgb(35, 32, 79);"   type="button" class="check" name="button"></button>
        </div>
        <div class="number-pagination">
         <a href="www.google.com"> <i class="fa fa-facebook" aria-hidden="true"></i></a>
          <i class="fa fa-instagram"aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </div>
      </div>
    </div>

    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
    <script src="js/app.js" charset="utf-8"></script>
  </body>

</html>
